<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <img src="/assets/images/hamburger.png" alt="burger" id="hamburger_img" />
            <h1> Burger 2: The Sequel </h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
                {{#each burgers}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}
					</pre>
                    <!-- {{this.Date}} -->
                </div>
                <div class="col-xs-3 text-center">
                    <form action="/burgers/update/{{this.id}}" method="POST">
                        <input type="hidden" name="devoured" value="1">
                        <button type="submit" class="btn" style="background-color: #5DBCD2 ;">eat da burger!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-xs-6 text-center" class="task">
            {{#each burgers}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                <button type="submit" class="btn btn-danger" id="text-enter-button">Submit</button>
            </form>
            <p>Enter a burger you want to eat Click the "Submit" button.</p>
        </div>
    </div>
</div>